*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 0, 0, 20px;
    background-color: white;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    width: 100%;
}

.header nav {
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
    float: right;
}
.header nav ul li {
    margin-left: 25px;
    display: inline-block;
}

header a {
    color: #596e79;
    font-size: large;
    font-weight: bolder;
}

header h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

header div {
    width: 20%;
    background-color: #596e79;
    padding-left: 2%;
    float: left;
}

/*Hero*/
.hero {
    height: 200px;
    width: 100%;
    background-image: url(../images/pexels-trace-hudson-2529973.jpg);
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
}

/*End Hero*/

.about-me {
    display: flex;
    padding-right: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color: #596e79;
}

.about-me .about {
    flex-direction: column;
    width: 10%;
    margin-left: 100px;
    border-right: solid 2px #596e79;
    font-size: x-large;
}

.about-me .paragraph {
    margin-left: 5%;
}


